body {
  margin: 0;
  padding: 0;
  background: #ececec;
  font-size: 16px;
}

.container {
  max-width: 1170px;
  margin: auto;
  height: 1000px;
}

a {
  color: #027a7a;
  text-decoration: none;
}
a:hover {
  color: #005656;
}

/*
==================================
PANEL
==================================
*/
.panel {
  padding: 15px;
  width: 200px;
  border: 2px solid #005656;
  border-radius: 4px;
  position: fixed;
  top: 80%;
  left: 80%;
}
.panel a:not(:first-child) {
  display: block;
  padding-top: 20px;
}

/*
==================================
TABLE WITH DATA
==================================
*/
.table-with-data {
  margin: 15px auto 0px;
  width: 700px;
}
.table-with-data__col {
  height: 30px;
}

/*
==================================
FORMS
==================================
*/
.field_name {
  display: block;
}
.block {
  margin: 20px 0px;
}

/*
==================================
SHOP CARDS
==================================
*/
.shop {
  margin-top: 20px;
}

.shop__card {
  position: relative;
  display: inline-block;
  width: 25%;
  min-width: 180px;
  height: 400px;
  background-color: #fff;
  border-radius: 4px;
}
.shop__card:not(:first-child){
  margin-left: 40px;
}

.shop__card .image {
  position: relative;
  display: block;
  height: 85%;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.image-green {
  background-color: #239f59;
}
.image-blue {
  background-color: #62c2da;
}
.image-orange {
  background-color: #edbd3f;
}

.shop__card .image .num {
  position: absolute;

  top: 20%;
  left: 34%;
  font-size: 12rem;
  font-weight: 500;
}
.num-white {
  color: #fff;
}

.shop__card .icon {
  width: 20px;
  position: absolute;
  top: 81%;
  left: 81%;
  border-radius: 50%;
  padding: 7px;
  background-color: #3048ef;
}

.shop__card .description {
  margin-left: 20px;
}
.shop__card .description h4 {
  font-weight: 400;
}
